<div class="row">
	<div class="col-lg-8">
        <div class="row" ng-repeat="article in articles">
            <img ng-src="{{article.image}}" class="img-responsive"/>
            <div class="col-xs-12">
                <h2>{{article.title}} </h2><hr class="gray"/>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="col-xs-6">{{article.date | date}}</div>
                <div class="col-xs-6">{{article.author}}</div>
            </div>
            <div class="col-xs-12">
                <hr class="gray">
            </div>
            <div class="col-xs-12">
                {{article.description}}
            </div>
        </div>
	</div>
    <div id="widgetBlock" class="col-lg-4" >
        <!-- Large modal -->
        <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add article</button>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add article</h4>
                    </div>
                    <div class="modal-body">
                        <form name="saveForm" class="form-horizontal" ng-submit="addArticle()">
                        	<div>
	                        	<label>Author</label>
	                        	<input type="text" name="author" id="author" ng-model="article.author">
                            </div>
                        	<div>
	                        	<label>Title</label>
	                        	<input type="text" name="title" id="titel" ng-model="article.title">
                            </div>
                            <div>
                            	<label>Description</label>
	                        	<textarea  type="text" name="description" id="description" ng-model="article.description"></textarea>
                            </div>
                            <input type="submit" value="submit" class="btn btn-primary" id="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>